@charset "UTF-8";




html, body{
    padding: 0;
    margin: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

    
}

body{
    display: grid;
    place-items: center;

    background-color: rgba(119, 12, 34, 0.884);
}

h1{
    color: white;
    text-shadow: 3px 4px black;
    
}

main{
    background-color: rgba(0, 2, 3, 0.664);
    color: white;
    

    padding: 20px;
    margin: 20px;

    border-radius: 20px;

    width: 600px;
    height: 350px;

    box-shadow: 8px 10px rgba(0, 0, 0, 0.76);
}


